#chat {
  width: 300px;
  height: 500px;
  background: black;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

#comments {
  background: white;
  margin: 5px;
  padding: 5px;
  height: 350px;
  border-radius: 5px;
}

#chatter-select {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.chatter-select {
  padding: 5px;
  display: inline;
  border-radius: 5px;
}

.selected {
  background: grey;
}

.not-selected {
  background: white;
}

.not-selected:hover {
  background: red;
  cursor: pointer;
}

#make-comment {
  margin: 5px;
  width: 275px;
  height: 50px;
  resize: none;
}

.comment {
  margin: 5px;
}

.comment:after {
  content: "";
  clear: both;
  display: block;
}

.comment-out {
  background: blue;
  color: white;
  float: right;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.comment-in {
  background: #C0C0C0;
  float: left;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.submit {
  background: blue;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.submit:hover {
  cursor: pointer;
}
